<div id='world' class='center'> </div>

<h1 class='center upper_font'> [US] Exiled Path Active Moderators </h1>
<br />
<br />
<br />

<div class='row lower_font'>
  <div class='col s6 offset-s1 center'>
    <h4><u> Server Rules! </u></h4>
    <ul>
      <li> Respect other players. </li>
      <li> Respect staff of the server.  </li>
      <li> Don't grief people's bases. </li>
      <li> Cheating will not be tolerated. </li>
      <li> Abusing game mechanics you know are wrong will be subject to punishment. </li>
    </ul>
  </div>
  <div class='col s3 offset-s1'>
    <h4 class='right'> Help keep server up! </h4>
    <!-- <%= link_to image_tag('https://res.cloudinary.com/dx4umukei/image/upload/v1486158938/paypal_mw2ald.jpg'),
    "https://paypal.com", :target => "_blank" %> -->
  </div>
</div>
