<div id='world' class='center'> </div>

<h1 class='center upper_font'> [US] Exiled Path Active Moderators </h1>
<br />
<br />

<div class='row lower_font'>
  <div class='col s6 offset-s1 center'>
    <h4><u> Server Rules! </u></h4>
    <ul>
      <li> Respect other players. </li>
      <li> Respect staff of the server.  </li>
      <li> Don't grief people's bases. </li>
      <li> Cheating will not be tolerated. </li>
      <li> Abusing game mechanics you know are wrong will be subject to punishment. </li>
    </ul>
  </div>
  <div class='col s3 offset-s1 center right_side'>
    <h4> Help keep server up! </h4>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCySI/PbYWcAGUOVWc+oii6mowlCGPp7i0jv4odlmYpBBK1Aj+kqx6EenlArlWAx9h+rAs0EV72rSBvIm3nBO78Hodp0ejjJu0OQdPrWwN95r4cGkmCjuT4SL3VYsBVITr+CfIY6yl4uRjv9eSN6xkImw8W0i/OE8E+ZmSThqTyETELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISoWWxdOV80+AgZDoo4U9Y4fznbrIrsuQ96FTpsgUvrVNJ4tkEP/3JOeFZQqR1p8Rh0OQ7NSVitL3ZVRh5dVq6b299eGLX6TQ8PdP/fhIB8hUr9iZtABQSFKgKzBZ+N9MOfQlBL99IoJfenY6WgVhHklaqD7Gts54B2q5O7Ry7DD55ZlR7x2vQSTcFXxnqon7//8vkqv+0S9FkNugggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzAyMDMyMjI4MjFaMCMGCSqGSIb3DQEJBDEWBBRRguCRsaY2hfVfdJ1bdo5ZoHCBWjANBgkqhkiG9w0BAQEFAASBgIC0STNpOot0ZN9quShdUPxDRBwQ/gGSSnxVjclMZCiBGfINZjTxCxRgKoGVBQs/l0HdVM0lwolZE+u8IzhD8to9O/riIZNiL5/O6WcdEYYdB4nv0esKiA4d5o0lpxnKgRTIeggul9aPWa5ArotkVXvKvAYTQaGqW0vPciVNQ58j-----END PKCS7-----
          ">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
  </div>
</div>
