<div id='world' class='center'> </div>

<h1 class='center upper_font'> [US] Exiled Path Active Moderators </h1>
<br />
<br />
<br />

<div class='row lower_font'>
  <div class='col s6 offset-s2'>
    <p> Stuff About Rules </p>
  </div>
  <div class='col s3 offset-s1'>
    <p> link to donate here </p>
  </div>
</div>
