<footer class="static-foot">
 <div class="container">
   <div class="row">
     <div class="col s12 center">
       <a href="https://topconanservers.com/server/69.162.126.37:27015" target="_blank"><img src="https://topconanservers.com/banner/69.162.126.37:27015/banner.png" alt=""></a>
     </div>

</footer>
